<!-- prettier-ignore -->
{% assign default_id = include.sgf | split: '/' | last | replace: '.sgf', '' %} 
{% assign tsumego_id = include.id | default: default_id %}

<!-- data-wgo-layout="left: ['InfoBox', 'CommentBox'], bottom: ['Control']" -->

<div class="two-col-container">
    <div class="wgo-large" id="{{ tsumego_id }}">Your browser doesn't support WGo Player. Use some modern browser.</div>
    <div>{{ include.content | markdownify }}</div>
</div>

<script>
    var tsumego = new WGo.Tsumego(document.getElementById("{{ tsumego_id }}"), {
        sgfFile: "{{ include.sgf }}",
        background: "",
        allowIllegalMoves: "true",
        // debug: true,
    });
    // tsumego.setCoordinates(true);
</script>
