<div class="two-col-container">
    <div class="wgo-large" id="{{ include.id | default: tsumego_wrapper}}" data-wgo-board="background: ''">
        Your browser doesn't support WGo Player. Use some modern browser.
    </div>
    <div>{{include.content | markdownify }}</div>
</div>

<script>
    var tsumego = new WGo.Tsumego(document.getElementById("{{ include.id | default: tsumego_wrapper}}"), {
        sgfFile: "{{ include.sgf }}",
        background: "",
        // debug: true,
    });
    // tsumego.setCoordinates(true);
</script>
