<div class="two-col-container">
    <div class="wgo-large" id="{{ include.id | default: tsumego_wrapper}}">Your browser doesn't support WGo Player. Use some modern browser.</div>

    <div markdown="1">{{include.caption}}</div>
</div>

<script>
    // let sgf = WGo.loadSgfFromFile("/go/lesson_0/capture_1.sgf");
    var tsumego = new WGo.Tsumego(document.getElementById("{{ include.id | default: tsumego_wrapper}}"), {
        sgfFile: "{{ include.sgf }}",
        // debug: true,
    });
    // tsumego.setCoordinates(true);
</script>
